    /* BODY: COLOR/FONT VARIABLES */
:root {
  --body-background: #1c1c1c;
  --bodytext-color: white;
  --bodytext-font: sans-serif;
    
    /* HEADER: COLOR/FONT VARIABLES */
  --header-background: linear-gradient(black, #666666 1%, #8f8f8f 20%, #8f8f8f 80%, #666666 99%, black);
  --navitems-color: #99CAFF;
  --navbarlinks-font: sans-serif;
  --navitems-hover: #00FFFF;
  --navsitelink-color: white;
  --navsitelink-font: sans-serif;
  --headertext-color: white;
  --headertext-font: sans-serif;
    
    /* H1/H2: COLOR/FONT VARIABLES */
  --homeh1-color: white;
  --homeh1-font: sans-serif;
  --homeh2-color: white;
  --homeh2-font: sans-serif;

    /* HOMEPAGE COLUMN-RIGHT: COLOR/FONT VARIABLES */
  --homerightcontainer-color: #d6d1ecb9; /*#96d1ecn2 rgba(150, 209, 236, 0.7) #cccccc, #e6e6fa*/
  --homegriditemcontainer-color: #cccccc; /*#ddd, */
  --griditem-color: linear-gradient(#666666, #8f8f8f 15%, #8f8f8f 85%, #666666);
  --projectcaptioninfo-color: #99caff;
  --projectcaptioninfo-font: sans-serif;
  --urltitle-color: #e8e8e9;
  --projectcaptionurl-font: sans-serif;
  
}

    /* HEADER & NAVBAR */
header {
  position: fixed;
  top: 2.5vh;
  left: 0;
  width: 100vw;
  height: 15vh;
  background-image: var(--header-background);
  display: flex;
  justify-content: center;
  font-family: var(--headertext-font);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
}

.header-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('./images/circuitvector.png');
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  opacity: .3;
}

.header-overlay2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('./images/circuitmiddle.png');
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  opacity: .5;
}

#overlay-left {
  left: 0;
  width: 150%;
  max-width: 150%;
}

#overlay-right {
  right: 0;
  transform: rotate(180deg);
}

#overlay-middle1 {
  left: 30vw;
  top: -2vh;
  width: 150%;
  transform: scaleX(1.3);
  opacity: .9;
}

#overlay-middle2 {
  left: 35vw;
  top: -2vh;
  width: 150%;
  transform: scaleX(1.3);
  opacity: .5;
}

#overlay-middle3 {
  top: 8vh;
  right: 10vw;
  transform: rotate(180deg);
  opacity: .5;
}

#overlay-middle4 {
  top: 8vh;
  right: 15vw;
  transform: rotate(180deg);
}

#overlay-middle5 {
  top: 0;
  right: 45vw;
  transform: rotate(180deg);
}

#overlay-middle6 {
  top: 0;
  right: 50vw;
  transform: rotate(180deg);
  opacity: .8;
}

#overlay-middle7 {
  top: 2vh;
  right: 62vw;
  transform: rotate(-59deg);
  widthL: 6%;
  max-width: 57px;
  opacity: .4;
}


/*img.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('./images/circuitvector.png');
  background-size: 200% auto; /* Adjust the size as desired */
  /*background-repeat: repeat-x;
  background-position: left;
  padding-left: 0;
  margin-left: 0;*/
}

/*.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('./images/circuitvector.png');
  background-size: 200% auto; /* Adjust the size as desired */
  /*background-repeat: repeat-x;*/
  /*background-position: left;
  padding-left: 0;
  margin-left: 0;*
}*/

#header-items {
  display: inherit;
  align-items: center;
  z-index: 2;
}

#nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-right: 3rem;
  margin-top: 1.5em;
  font-size: 1.1em;
  flex: 1;
  max-width: 95%;
  margin: 0;
  position: relative;
  z-index: 2;
}

#nav-items li a {
  color: var(--navitems-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 0 .15em .1em #1c1c1c;
  text-decoration: none;
  -webkit-text-stroke: .3px #5cabff; /* Outline width and color */
  text-stroke: .3px #5cabff; /* Outline width and color */
  font-size: 1.15em;
  transition: transform 0.3s ease;
}

#nav-items li a:hover {
  color: var(--navitems-hover);
  transform: scale(1.2);
}

ul#nav-items {
  max-width: 95vw;
}

*#site-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--navitems-color);
  font-family: var(--navsitelink-font);
}

#site-link:hover {
  color: var(--navitems-hover);
}

#header-img {
  height: 13vh;
  width: auto;
  max-width: 30vw;
  max-height: 14vh;
  margin: 5px;
  z-index: 2;
}

    /* HOMEPAGE CONTAINERS: COLOR/FONT VARIABLES */
body {
  font-family: var(bodytext-font);
  background-color: var(--body-background);
}

#page-head {
  padding-top: 7rem;
}

.home-grid-container {
  display: grid;
  grid-template-columns: 39vw 1fr; /* Set the column widths */
  grid-gap: 10px; /* Optional: Set the gap between columns */
}

.home-left-column {
  background-color: var(--body-background);
}

.home-right-column {
  background-color: var(--body-background);
}

.nested-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  background-color: var(--homerightcontainer-color);
  margin: 1em; /*12px*/
  padding: 3%;
  border-radius: 15px;
  overflow: hidden;
  border: solid 4px rgba(0.576, 0.408, 0.718, .5); /* rgba(147, 104, 183, .5) rgba(0.576, 0.408, 0.718, .5)  #9368B7;*/
}

.grid-item {
  background-image: var(--header-background);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  overflow: hidden;
  border: solid 2px rgba(0.576, 0.408, 0.718, .5);
  
}

.screenshot {
 /* padding-bottom: 56.25%; /* Aspect ratio for a 16:9 screenshot */
  padding-bottom: 2%;
}

.screenshot img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar */
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the track */
}
::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the thumb */
}

.caption {
  margin-top: 5px;
}

.project-info-pair {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

/*
.screenshot-captionUrl {
  color: var(--projectcaptionurl-color);
  font-family: var(--projectcaptionurl-font);
  font-weight: bold;


.urlscreenshottittle {
  text-align: center;
  text-decoration: none;
  color: var(--projectcaptionurl-color);
  font-family: var(--projectcaptionurl-font);
  font-weight: bold; 
} */

.urltitle {
  text-align: center;
  text-decoration: none;
  color: var(--urltitle-color);
  font-family: var(--projectcaptionurl-font);
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
  text-shadow: 0 .15em .1em #1c1c1c;
  font-size: 1.1em;
}

span.project-involvement {
  color: var(--projectcaptioninfo-color);
  font-family: var(--projectcaptioninfo-font);
  justify-self: flex-start;
  text-shadow: 0 .1em .05em #1c1c1c;
}

span.project-date {
  color: var(--projectcaptioninfo-color);
  font-family: var(--projectcaptioninfo-font);
  justify-self: flex-end;
  margin-left: auto;
  text-shadow: 0 .1em .05em #1c1c1c;
}

.project-info-pair-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.5px;
  font-weight: bold;
}

.snapshot-iframe {
  width: 100%;
  height: 100%;
  border: none;
}


#homepage-title-container {
  position: fixed;
  top: 50%;
}

#homepage-h1 {
  color: var(--homeh1-color);
  font-family: var(--homeh1-font);
  text-shadow: 0 .15em .1em rgba(0, 0, 0, 0.4);
}

#homepage-h2 {
  color: var(--homeh2-color);
  font-family: var(--homeh2-font);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.gear-container {
  width: 100px;
  height: 100px;
  position: relative;
  top: 16vh;
  opacity: .4;
}

.gear {
  width: 100px;
  height: 100px;
  background-image: url('./images/golden-gear.png');
  background-size: contain;
  animation: rotation 17s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leftcolumn-overlay {
  position: absolute;
  top: -25vh;
  width: 100%;
  height: 300%;
  z-index: 1;
  background-image: url('./images/columncircuit.png');
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  margin: 0;
  padding: 0;
  opacity: .2;
}
