    /* BODY: COLOR/FONT VARIABLES */
:root {
  --body-background: #1c1c1c;
  --bodytext-color: white;
  --bodytext-font: sans-serif;
    
    /* HEADER: COLOR/FONT VARIABLES */
  --header-background: linear-gradient(#666666, #8f8f8f 10%, #8f8f8f 90%, #666666);
  --navitems-color: #00FFFF;
  --navbarlinks-font: sans-serif;
  --navitems-hover: #ACD7B9;
  --navsitelink-color: white;
  --navsitelink-font: sans-serif;
  --headertext-color: white;
  --headertext-font: sans-serif;
    
    /* H1/H2: COLOR/FONT VARIABLES */
  --homeh1-color: white;
  --homeh1-font: sans-serif;
  --homeh2-color: white;
  --homeh2-font: sans-serif;

    /* HOMEPAGE COLUMN-RIGHT: COLOR/FONT VARIABLES */
  --homerightcontainer-color: #d6d1ec ; /*#cccccc, #e6e6fa*/
  --homegriditemcontainer-color: #cccccc; /*#ddd, */
  --projectcaptioninfo-color: #a683c3;
  --projectcaptioninfo-font: sans-serif;
  --projectcaptionurl-color: #9368B7;
  --projectcaptionurl-font: sans-serif;
  
}

    /* HEADER & NAVBAR */
header {
  position: fixed;
  top: 2.5vh;
  left: 0;
  width: 100vw;
  height: 15vh;
  background-image: var(--header-background);
  display: flex;
  justify-content: center;
  font-family: var(--headertext-font);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
}

#header-items {
  display: inherit;
}

#nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-right: 3rem;
  margin-top: 1.5em;
  font-size: 1.1em;
  flex: 1;
  max-width: 95%;
}

#nav-items li a {
  color: var(--navitems-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 0 .15em .1em #1c1c1c;
  text-decoration: none;
}

#nav-items li a:hover {
  color: var(--navitems-hover);
}

#site-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--navitems-color);
  font-family: var(--navsitelink-font);
}

#site-link:hover {
  color: var(--navitems-hover);
}

#header-img {
  height: 95%;
  width: auto;
  max-width: 100%;
  margin-left: 2rem;
}

    /* HOMEPAGE CONTAINERS: COLOR/FONT VARIABLES */
body {
  font-family: var(bodytext-font);
  background-color: var(--body-background);
}

#page-head {
  padding-top: 7rem;
}

.home-grid-container {
  display: grid;
  grid-template-columns: 40vw 1fr; /* Set the column widths */
  grid-gap: 10px; /* Optional: Set the gap between columns */
}

.home-left-column {
  background-color: var(--body-background);
}

.home-right-column {
  background-color: var(--body-background);
}

.nested-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  background-color: var(--homerightcontainer-color);
  margin: 10px;
  padding: 3%;
  border-radius: 15px;
  overflow: hidden;
}

.grid-item {
  background-image: var(--header-background);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  overflow: hidden;
  
}

.screenshot {
 /* padding-bottom: 56.25%; /* Aspect ratio for a 16:9 screenshot */
  padding-bottom: 2%;
}

.screenshot img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  margin-top: 5px;
}

.project-info-pair {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.screenshot-captionUrl {
  color: var(--projectcaptionurl-color);
  font-family: var(--projectcaptionurl-font);
  font-weight: bold;
  display: grid;
  flex-direction: row;
  justify-items: center;
}

.screenshoturl-span {
  color: var(--projectcaptionurl-color);
  font-family: var(--projectcaptionurl-font);
  font-weight: bold;
  justify-self: center;
  text-decoration: none;
}

.screetshoturltitle {
  text-align: center;
  text-decoration: none;
  color: var(--projectcaptionurl-color);
  font-family: var(--projectcaptionurl-font);
  font-weight: bold;    
}

a.screetshoturltitle {
  text-align: center;
  text-decoration: none;
  color: var(--projectcaptionurl-color);
  font-family: var(--projectcaptionurl-font);
  font-weight: bold;    
}

.urlscreenshottittle {
  text-align: center;
  text-decoration: none;
  color: var(--projectcaptionurl-color);
  font-family: var(--projectcaptionurl-font);
  font-weight: bold; 
}

span.project-involvement {
  color: var(--projectcaptioninfo-color);
  font-family: var(--projectcaptioninfo-font);
  justify-self: flex-start;
}

span.project-date {
  color: var(--projectcaptioninfo-color);
  font-family: var(--projectcaptioninfo-font);
  justify-self: flex-end;
  margin-left: auto;
}

.project-info-pair-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.snapshot-iframe {
  width: 100%;
  height: 100%;
  border: none;
}


#homepage-title-container {
  position: absolute;
  top: 50%;
}

#homepage-h1 {
  color: var(--homeh1-color);
  font-family: var(--homeh1-font);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#homepage-h2 {
  color: var(--homeh2-color);
  font-family: var(--homeh2-font);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
